In [6]:
import pandas as pd

In [7]:
df=pd.read_excel('nfl_stats.xlsx')

In [10]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8198 entries, 0 to 8197
Data columns (total 39 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             8198 non-null   int64
 1   Player           8198 non-null   object
 2   Age              8198 non-null   int64
 3   Hometown         8198 non-null   object
 4   Home State       7972 non-null   object
 5   Tm               8198 non-null   object
 6   G                8198 non-null   int64
 7   GS               8198 non-null   int64
 8   Cmp              8197 non-null   float64
 9   Att              8197 non-null   float64
 10  Yds              8197 non-null   float64
 11  TD               8197 non-null   float64
 12  Int              8197 non-null   float64
 13  Att.1            8197 non-null   float64
 14  Yds.1            8197 non-null   float64
 15  Y/A              4212 non-null   float64
 16  TD.1             8197 non-null   float64
 17  Rec              8197 non-null   float64
 18  Yds.2            8197 non-null   float64
 19  Y/R              5938 non-null   float64
 20  TD.2             8197 non-null   float64
 21  FantPos          8198 non-null   object
 22  FantPt           6998 non-null   float64
 23  Height (inches)  8198 non-null   int64
 24  Weight           8198 non-null   int64
 25  College          8178 non-null   object
 26  Conference       7822 non-null   object
 27  College wins     6821 non-null   float64
 28  College losses   6821 non-null   float64
 29  DOB              8198 non-null   object
 30  Draft Round      8198 non-null   int64
 31  Draft Year       8198 non-null   int64
 32  Wonderlic        4085 non-null   float64
 33  40 Yard          4085 non-null   float64
 34  Bench Press      4085 non-null   float64
 35  Vert Leap (in)   4085 non-null   float64
 36  Broad Jump (in)  4085 non-null   float64
 37  Shuttle          4085 non-null   float64
 38  3Cone            4085 non-null   float64
dtypes: float64(23), int64(8), object(8)
memory usage: 2.4+ MB

In [13]:
wonder_df=df[['Player', 'Age', 'Hometown', 'Home State','FantPos', 'Draft Round', 'Wonderlic']].copy()
wonder_df.head()

,Player,Age,Hometown,Home State,FantPos,Draft Round,Wonderlic
0,LaDainian Tomlinson,27,Rosebud,TX,RB,1,0.0
1,Peyton Manning,37,New Orleans,LA,QB,1,NaN
2,Tom Brady,30,San Mateo,CA,QB,6,33.0
3,Aaron Rodgers,28,Chico,CA,QB,1,39.0
4,Drew Brees,32,Austin,TX,QB,2,28.0